<div class="pure-g-r">
    <div class="pure-u-3-5">
        <div class="l-hbox">
        	
            <h3>Create your own look and feel.</h3>
            <p>
                Unlike other frameworks, Pure's design is unopinionated, minimal and flat. We believe that it's much easier to add new CSS rules than to overwrite existing rules. By adding a few lines of CSS, you can customize Pure's appearance to work with your web project.
            </p>

            <p>
                <a href="/extend/" class="pure-button">Extend Pure</a>
            </p>
        </div>
    </div>
    <div class="pure-u-2-5">
        <div class="l-box sample-buttons">
            <p>
                <button class="pure-button">Grey</button>
                <button class="pure-button pure-button-a">Blue</button>
                <button class="pure-button pure-button-b">Yellow</button>
            </p>
            <p>
                <button class="pure-button pure-button-c">Black</button>
                <button class="pure-button pure-button-d">Green</button>
                <button class="pure-button pure-button-e">Red</button>
            </p>
            <p>
                <button class="pure-button pure-button-f">Purple</button>
                <button class="pure-button pure-button-g">Orange</button>
                <button class="pure-button pure-button-h">Indigo</button>
            </p>
        </div>
    </div>
</div>



