

<div class="pure-g-r">
    <div class="pure-u-3-5">
			 <div class="l-hbox">
				 <div class="second-main-content-image">
						<section>
							<ul id="da-thumbs" class="da-thumbs">
								<li>
									<a href="#">
										<img src="images/kloppy bw.jpg" />
										<div><span>MORE</span></div>
									</a>
								</li>
															</ul>
						</section>
				 </div><!-- END index-main-content-image -->
			 </div><!-- END l-hbox -->
    </div><!-- END pure-u-3-5 -->
    
    <div class="pure-u-2-5">
    	
        <div class="l-box">
        <div class="second-main-content-info">
            <h1> PHOTOGRAPHY</h1>
            <h2>SOMETHING ABOUT SOMEONE </h2>
            <h6>TAGS</h6>
        </div><!-- END l-box sample-buttons -->
    	</div><!-- END index-main-content-image -->
    </div><!-- END pure-u-2-5 -->



</div>
    <script src="/javascripts/modernizr.custom.97074.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.hoverdir.js"></script>	
		<script type="text/javascript">
			$(function() {

				$(' #da-thumbs > li ').each( function() { $(this).hoverdir({
					hoverDelay : 75
				}); } );

			});
		</script>