<!--
<div class="pure-g-r">
   
    <div class="pure-u-3-5">
<p><i class="icon-camera-retro icon-large"></i> icon-camera-retro</p>
<p><i class="icon-camera-retro icon-2x"></i> icon-camera-retro</p>
<p><i class="icon-camera-retro icon-3x"></i> icon-camera-retro</p>
<p><i class="icon-camera-retro icon-4x"></i> icon-camera-retro</p>

<p><i class="icon-flag icon-4x pull-left icon-border"></i></p>


<p><i class="icon-quote-left icon-4x pull-left icon-muted"></i>
Use a few of the new styles together ... lots of new possibilities.</p>


<p><i class="icon-spinner icon-spin icon-large"></i> Spinner icon when loading content...</p>

<br>
<br>
<i class="icon-shield"></i>&nbsp; normal<br>
<i class="icon-shield icon-rotate-90"></i>&nbsp; icon-rotate-90<br>
<i class="icon-shield icon-rotate-180"></i>&nbsp; icon-rotate-180<br>
<i class="icon-shield icon-rotate-270"></i>&nbsp; icon-rotate-270<br>
<i class="icon-shield icon-flip-horizontal"></i>&nbsp; icon-flip-horizontal<br>
<i class="icon-shield icon-flip-vertical"></i>&nbsp; icon-flip-vertical
    </div>
</div>
-->




<div class="pure-g-r">
   
    <div class="pure-u-3-5">
			 <div class="l-box">
						<section class="index-main-content-image">
							<ul id="da-thumbs" class="da-thumbs">
								<li class="index-main-list-image">
									<a href="#">
										<img src="images/kloppy bw.jpg" />
										<div class="index-main-more"><span><p>MORE</p></span></div>
									</a>
								</li>
							</ul>
						</section><!-- second-main-content-image -->
			 </div><!-- l-hbox -->
    </div><!-- pure-u-3-5 -->


   <div class="pure-u-2-5">
   		<div class="l-hbox">
   			<section class="index-main-content-verbiage">
       		
       		<h1> <i class="icon-camera-retro icon-2x pull-left icon-light"></i> PHOTOGRAPHY</h1>
       		
   			</section>
    	</div><!-- END index-main-content-image -->
    </div><!-- END pure-u-2-5 -->

</div><!-- pure-g-r -->


<div class="pure-g-r">
   
    <div class="pure-u-3-5">
			 <div class="l-box">
						<section class="index-main-content-image">
							<ul id="da-thumbs" class="da-thumbs">
								<li class="index-main-list-image">
									<a href="#">
										<img src="images/kloppy bw.jpg" />
										<div class="index-main-more"><span><p>MORE</p></span></div>
									</a>
								</li>
							</ul>
						</section><!-- second-main-content-image -->
			 </div><!-- l-hbox -->
    </div><!-- pure-u-3-5 -->


   <div class="pure-u-2-5">
   		<div class="l-hbox">
   			<section class="index-main-content-verbiage">
       		
       		<h1> <i class="icon-camera-retro icon-2x pull-left icon-light"></i> PHOTOGRAPHY</h1>
       		
   			</section>
    	</div><!-- END index-main-content-image -->
    </div><!-- END pure-u-2-5 -->

</div><!-- pure-g-r -->


   <script src="/javascripts/modernizr.custom.97074.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/jquery.hoverdir.js"></script>	
		<script type="text/javascript">
			$(function() {

				$(' #da-thumbs > li ').each( function() { $(this).hoverdir({
					hoverDelay : 75
				}); } );

			});
		</script>