    <div class="pure-g-r" id="layout">
        <a href="#menu" id="menuLink" class="pure-menu-link">
        
    <span></span>
</a>

<div class="pure-u" id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/">
				</a>
        <ul>
          
            <li class="main-menu-about">
                <a href="/#/">About</a>
            </li>
          
            <li class="main-menu-contact">
                <a href="/#/">Contact</a>
            </li>
          
            <li class="main-menu-portfolio">
                <a href="/#/">Portfolio</a>
            </li>
          
            <li class="main-menu-recent-work">
                <a href="/#/">Recent Work</a>
            </li>
          
        </ul>
    </div>
</div>